<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>
        {{title}}
    </h1>
    {{nav|raw}}
    <main>
        {{page|raw}}
    </main>
    {{footer|raw}}
</body>
</html>